/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-weight);
  background-color: var(--background-color);
  color: var(--accent-color);
  background: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: var(--background-color);
  border: 1px solid var(--accent-color);
  width: clamp(375px, 49%, 700px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
  margin: 100px 0;
  
  
}

.header_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: clamp(7.5rem, 1.502vw + 7.148rem, 8.5rem);
  margin-bottom: 25px;
}

.header_title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
}

.header_paragraph {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
  margin-left: 20px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0;
  position: relative;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__item:hover .theme-menu__button {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin-top: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
  scale: 0;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  outline: none;
  scale: 1;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  left: -20px;
  top: 0;
  animation: triangle 0.5s ease-in-out infinite alternate;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  width: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
}

.title_article {
  padding: 5px 12px;
  font-size: var(--main-size);
  font-variation-settings: "wght" var(--title-weight);
}

.card_content {
  padding: 25px; 
  display: flex;
  flex-direction: column;
  gap: 27px;
  
}

.card_text {
  font-size: var(--main-size);
  line-height: 21px;
  
}

.card_container {
  position: relative;
}

.card_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 2px solid var(--accent-color);
}

.img_blur {
  filter: blur(5px);
}

.img_bright {
  filter: brightness(50%);
}

.img_mix {
  filter: hue-rotate(0.5turn) brightness(110%);
}

.img_sepia {
  filter: sepia(0.5);
}

.img_saturate {
  filter: saturate(200%);
}

.img_invert {
  filter: invert(100%);
}

.img_grayscale {
  filter: grayscale(100%);
}

.img_contrast {
  filter: contrast(250%);
}

.card_watermark {
  position: absolute;
  right: 25px;
  top: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-family: var(--accent-font), sans-serif;
  color: var(--watermark-color);
  text-shadow: 1px 1px var(--watermark-stroke-color),
    -1px 1px var(--watermark-stroke-color),
    1px -1px var(--watermark-stroke-color),
    -1px -1px var(--watermark-stroke-color);
}

@supports (-webkit-text-stroke: 1px var(--watermark-stroke-color)) or (text-stroke: 1px var(--watermark-stroke-color)) {
  .card_watermark {
    -webkit-text-stroke: 1px var(--watermark-stroke-color);
    text-stroke: 1px var(--watermark-stroke-color);
    text-shadow: none;
  }
}

@supports (font-variation-settings: normal) {
  .title_article {
    font-variation-settings: 'wght' var(--title-weight);
  }

  .page {
    font-variation-settings: 'wght' var(--main-weight);
  }
} 

.like_group {
  display: flex;
  margin-right: 25px;
  margin-bottom: 25px; 
  align-items: end;
  justify-content: end;
  gap: 4px;

}

.card__icon-button {
  background-color: var(--background-color);
  border: 2px solid transparent;
  transition: border 0.3s ease;
  block-size: 38px;
  cursor: pointer;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.sparks {
  opacity: 0;
}

.card__like-button {
  height: 38px;
  width: 130px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-weight: var(--main-weight);
  text-transform: capitalize;
  border: 2px solid var(--accent-color);
  background-color: transparent;
}

.button {
  position: relative;
  cursor: pointer;
  transition: translate 0.3s ease;
  overflow: hidden;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  color: var(--text-hover);
}

.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  translate: -100%;
  transition: translate 0.5s ease-in-out;
  background-color: var(--accent-color);
  top: 0;
  left: 0;
}

.button:hover::before {
  translate: 0;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  outline: none;
}

.floppy {
  width: 21px;
  height: 21px;
  fill: var(--accent-color);
  color: var(--text-hover);
  position: relative;
  mix-blend-mode: difference;
}

.card_save-button {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 335px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  margin-bottom: 103px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-weight: var(--main-weight);
}

.dialog[open] {
  display: grid;
  width: clamp(21.3125rem, 20.9642rem + 1.4981vw, 22.3125rem);
  padding: 30px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color, #000);
  gap: 30px;
  
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.dialog_content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.floppy_dialog {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
  fill: var(--accent-color);
  color: var(--text-hover);
  position: relative;
  mix-blend-mode: difference;
}

.dialog_text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-weight: var(--main-weight);
  line-height: 21px;
  text-transform: uppercase;
  position: relative;
  mix-blend-mode: difference;
  color: var(--text-hover);
}

.button_close {
  height: 38px;
  width: 100%;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-weight: var(--main-weight);
  text-transform: uppercase;
}

@media (width <= 376px) {
  .header {
    width: 100vw;
  }

  .card_save-button {
    flex-direction: column;
    padding: 15px 16.5px;
    width: 306px;
    height: 84px;
    margin: 0 0 102px 0;
  }

  .floppy {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
  }

  .card_watermark {
    right: 13px;
  }
}